/* src/App.css */
.image-container {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  
  .default-image,
  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  
  .hover-image {
    opacity: 0;
  }
  
  .image-container:hover .default-image {
    opacity: 0;
  }
  
  .image-container:hover .hover-image {
    opacity: 1;
  }
  
  .center-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .center-image {
    width: 200px;
    height: 200px;
    transition: opacity 0.5s ease-in-out;
  }
  